---
BasedOnStyle: Google
Language: C

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80

AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach

DerivePointerAlignment: false
PointerAlignment: Left

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SortIncludes: false
IncludeBlocks: Regroup
ReflowComments: true